.container {
    display: flex;
    padding: 70px 20px;
    position: relative;
}

.container > div {
    flex-grow: 1;
    border: solid 1px black;
    padding: 3px;
    max-width: 33%;
}

.my_orders {
    position: absolute;
    top: 0;
    right: 20px;
    border: none !important;
}

#cart {
    background-color: #13be13;
    color: #fff;
    border: none;
    padding: 5px 12px;
    border-radius: 5px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    display: inline-block;
    cursor: pointer;
    transition: 0.3s;
}
#cart:hover{
    background-color: #0e6b0e;

}

.final {
    margin-top: 10px;
    padding: 5px 7px;
    cursor: pointer;
}

.red {
    border: solid 1px black;
    text-align: center;
    font-size: 25px;
    background-color: RED;
    margin-top: 15px;
    padding: 15px 0;
}

#order_list{
    list-style: none;
    max-width: 60%;
    width: 100%;
    border: solid 1px #cccccc;
    margin: auto;
    padding: 25px 25px 50px 25px;
    position: relative;
}
#order_list li{
    margin-bottom: 15px;
    border-bottom: solid 1px #222222;
    padding-bottom: 12px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.okay{
    padding: 5px 20px;
    border-radius: 3px;
    background-color: #13be13;
    border: none;
    color: white;
    max-width: 60px;
    width: 100%;
    display: inline-block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}
#order_list li button{

    background-color: transparent;
}


#order_list li button:after{
    content: "\f1f8";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: red;
}